#zheng{
    width: 50px;
    height: 50px;
    border-top: 50px solid plum;
    border-left: 50px solid palevioletred;
    border-right: 50px solid palegreen;
    border-bottom: 50px solid springgreen;
}
#wubian{
    margin: 100px auto;
    width: 50px;
    height: 0px;
    border-top: 50px solid plum;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
   position: relative;
}
/* 梯形上面的宽度width+左右两边 18 18 */
#wubian::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-bottom: 35px solid plum;
    border-left: 43px solid transparent;
    border-right: 43px solid transparent;
    top: -85px; /*三角形的bottom35+top 35*/
    left: -18px; /*这是梯形的左边框*/

}